<template>
  <div class="auth-btn line" @click="getLineAuthLink">
    <img :src="LineIcon" alt="line-icon">
    <p class="flex-1 text-center <desktop:text-[16px]">使用 Line {{ type === 'signin' ? '登入' : '註冊' }}</p>
  </div>
</template>

<script setup>
import { useStore } from '@/store'
import { useRouter } from 'vue-router'
import LineIcon from '@/assets/line-icon.png'
import {
  GetLineAuthLink,
  GetLineAccessToken,
  GetLineMeProfile,
} from '@/api/line'

defineProps({
  type: {
    type: String,
    validator (value) {
      return ['signin', 'signup'].includes(value)
    },
  },
  auth: {
    type: String,
    validator (value) {
      return ['line', 'fb'].includes(value)
    },
  },
})

const store = useStore()
const router = useRouter()

const getLineAuthLink = async () => {
  const link = await GetLineAuthLink()
  window.location = link
}

const lineLogin = async () => {
  const urlParams = new URLSearchParams(window.location.search);
  const code = urlParams.get('code')
  if (!code) return
  const accessToken = await GetLineAccessToken(code)
  const profile = await GetLineMeProfile(accessToken)
  store.setUser(profile)
  router.push({ name: 'overview' })
}
lineLogin()

</script>

<style scoped lang="postcss">
.line {
  @apply flex justify-between items-center rounded-[6px];
  @apply bg-[#06C755] text-white;
}
.auth-btn {
  @apply cursor-pointer;
}
</style>
