<template>
  <div class="statistic-block">
    <template v-for="(data, index) in dataList" :key="data.label">
      <div class="data-item">
        <p class="label">{{ data.label }}</p>
        <p class="value ">
          <span v-if="data.type === 'money'">$</span>
          <n-ellipsis class="!<desktop:(max-w-[125px])">
            {{ data.value }}
          </n-ellipsis>
        </p>
      </div>
      <div v-if="(index+1) % 2">
        <n-divider vertical class="!h-full" />
      </div>
    </template>
  </div>
</template>

<script setup>
import { NDivider, NEllipsis } from 'naive-ui/es'
defineProps({
  dataList: {
    type: Array,
    default: () => ([
      {
        label: '發票總開立張數',
        type: 'number',
        value: 123,
      },
      {
        label: '發票總銷售金額',
        type: 'money',
        value: 123,
      },
    ]),
  },
})
</script>

<style scoped lang="postcss">
.statistic-block {
  @apply flex justify-evenly bg-white rounded-[4px] py-[1.5px];
}

.data-item {
  @apply flex flex-col items-center justify-center py-[10px];
}

.label {
  @apply text-[14px] text-[#767676] leading-[20.27px];
}
.value {
  @apply text-[24px] text-[#204BB4] font-bold leading-[34.75px] ;
}
</style>
