<template>
  <n-data-table
    :columns="columns"
    :data="data[page - 1]"
    :pagination="false"
    :bordered="false"
  />
</template>

<script setup>
import { NDataTable } from 'naive-ui/es'

defineProps({
  page: {
    type: Number,
    default: 1,
  },
  data: {
    type: Array,
    default: () => [],
  },
})
const columns = [
  {
    title: '年份',
    key: 'year',
    align: 'center',
    width: 300,
  },
  {
    title: '稅別',
    key: 'cate',
    align: 'center',
  },
  {
    title: '開立數量',
    key: 'totalOpen',
    align: 'center',
  },
  {
    title: '銷售總額(千元)',
    key: 'totalCost',
    align: 'center',
  },
]

</script>

<style scoped lang="postcss">

</style>
